In [1]:
from nltk.corpus import semcor

In [2]:
import pandas as pd
senses=pd.read_csv("sense_export_2.csv")
sentences=pd.read_json("export_file_v2.json").T

In [3]:
correct_term2=[]
for i in range(len(sentences)):
    correct_term2.append(sentences.iloc[i,0].replace(",","").replace("'","").replace('"',"").replace('[',"").replace(']',""))
sentences['correct_term']=correct_term2

In [4]:
sentences.head()

,0,1,correct_term
0,fawn,[19683],fawn
1,,[20466],
2,fredrikshall,[13871],fredrikshall
3,wrought-iron,[17423],wrought-iron
4,woods,"[1252, 1253, 1263, 7212, 7213, 10677, 18499, 2...",woods

In [5]:
senses.head()

   Unnamed: 0                           0
0           0          'group.n.01.group'
1           1            'state.v.01.say'
2           2        'friday.n.01.Friday'
3           3  'probe.n.01.investigation'
4           4      'atlanta.n.01.Atlanta'

In [ ]:
fulllist=[]
for item in sentences['correct_term']:
    templist=[]
    for sense in senses['0']:
        if item in sense:
            templist.append(sense)
    fulllist.append(templist)

In [ ]:
fulllist

In [ ]:
sentences['sense_tag_list']=fulllist

In [ ]:
sentences.to_csv("sentences_taggedsense_v2.csv")

In [ ]:
sentences.head()[1]

In [ ]:
cdi=pd.read_csv("cdi_WS_wordNetSenses.csv")
# cdi=cdi.iloc[15:19,:]

In [ ]:
# senses['0'].head()
cdi

In [ ]:
import itertools
cdi_counterlist=[]

# for index, row in cdi.iterrows():
#     trigger=False
#     for index2, row2 in sentences.iterrows():
#         while trigger==False:
#             if row2['correct_term']==row['word']:
#                 print(row2['correct_term'],row['word'])
#                 trigger=True

example_sentences=[]
for index, row in cdi.iterrows():
    word=row['word']
    sentences_ref=sentences[sentences['correct_term']==word]
#     print(list(sentences_ref['sense_tag_list'])[0])
#     print(row['name']+'.'+row['word'])
    try:
        index_ref=list(sentences_ref['sense_tag_list'])[0].index("'"+row['name']+'.'+row['word']+"'")
        real_index=list(sentences_ref[1])[0][index_ref]
        string = str()
        for i in semcor.sents()[real_index]:
            string+=i
            string+=str(" ")
        sentence_to_be_printed=string
    except:
        sentence_to_be_printed=[]
    example_sentences.append(sentence_to_be_printed)
# example_sentences

In [ ]:
# import itertools
# cdi_counterlist=[]

# # for index, row in cdi.iterrows():
# #     trigger=False
# #     for index2, row2 in sentences.iterrows():
# #         while trigger==False:
# #             if row2['correct_term']==row['word']:
# #                 print(row2['correct_term'],row['word'])
# #                 trigger=True

# example_sentences=[]
# for index, row in cdi.iterrows():
#     word=row['word']
#     sentences_ref=sentences[sentences['correct_term']==word]
# #     print(list(sentences_ref['sense_tag_list'])[0])
# #     print(row['name']+'.'+row['word'])
#     try:
#         index_ref=list(sentences_ref['sense_tag_list'])[0].index("'"+row['name']+'.'+row['word']+"'")
#         real_index=list(sentences_ref[1])[0][index_ref]
#         sentence_to_be_printed=semcor.sents()[real_index]
#     except:
#         sentence_to_be_printed=[]
#     example_sentences.append(sentence_to_be_printed)
# # example_sentences

In [ ]:
cdi['semcor_examples']=example_sentences

In [ ]:
cdi.to_csv("cdi_semcored_v3.csv")

In [ ]:
string = str()
for i in example_sentences[125]:
    string+=i
    string+=str(" ")
print(string)
# example_sentences[2]

In [ ]:
cdi_counterlist

In [ ]:
index=list(sentences[sentences['correct_term']=='duck'][1])[0][2]

In [ ]:
sentences[sentences['correct_term']=='duck']

In [ ]:
semcor.sents()[18734]
# semcor.sents()[index]

In [ ]:
import pandas as pd
dd=pd.read_csv("sentences_taggedsense_v2.csv")

In [ ]:
semcor.sents()[4098]

In [ ]:
dd